<div id="new-paste">
<div id="paste-block">
  <div id="paste-display-editor"></div>
  <textarea id="paste-content-hidden" style="display: none;"><%= paste.content %></textarea>
  <input type="hidden" id="paste-lang-hidden" value="<%= paste.lang %>">
</div>

  <div id="panel-block">
    <%= erb :'/partial/menu' %>

    <div id="paste-info-container">
      <ul id="paste-info">
        <li><p><b>Language:</b><br/><%= paste.lang %></p></li>
        <li><p><b>Created At:</b><br/><%= paste.created_at.strftime("%d %B %Y \n %H:%M:%S %Z") %></p></li>
        <li><p><b>Paste Link:</b><br/><textarea readonly><%= request.base_url + '/' + paste.slug %></textarea></p></li>
      </ul>
    </div>

    <div class="sidebar-block">
      <h4>Recent Pastes</h4>
      <ul class="recent-pastes-list">
        <% if recent_pastes.any? %>
          <% recent_pastes.each do |rp| %>
            <li>
              <a href="/<%= rp.slug %>"><i class="fas fa-file-alt"></i><%= rp.slug %></a><br>
              <small style="color: #D7D7D7"><%= format_time_ago(rp.created_at) %></small><br>
              <small style="color: #D7D7D7"><%= format_content_size(rp.content) %>, <%= rp.lang %></small>
            </li>
          <% end %>
        <% else %>
          <li>No recent pastes.</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
